<h1>JellyCat Details</h1>
<h2><%= @jelly_cat.name %></h2>
    <p>Description: <%= @jelly_cat.description %></p>
    <p>Color: <%= @jelly_cat.color %></p>
    <p>Size: <%= @jelly_cat.size %></p>
    <p>Limited Edition: <%= @jelly_cat.limited_edition %></p>
    <p>Year: <%= @jelly_cat.year %></p>

<div><%= link_to "Rate #{@jelly_cat.name}", new_jelly_cat_rating_path(@jelly_cat) %></div>
<div><%= link_to "Edit", edit_jelly_cat_path(@jelly_cat) %></div>
<%= button_to "Delete", jelly_cat_path(@jelly_cat), method: :delete, data: { confirm: 'Are you sure?' } %>
<div><%= link_to "Ratings", jelly_cat_ratings_path(@jelly_cat) %></div>
<div><%= link_to "All JellyCats", jelly_cats_path %></div>